In [15]:
import numpy as np
import random
import pymssql

In [27]:
pymssql.connect(server='localhost',user='admin',password='Rie>#6Jim9mv')

In [5]:
np.asarray([random.random() for _ in xrange(250000)]).reshape(500,500)

array([[ 0.94452754,  0.7390999 ,  0.05065287, ...,  0.41421528,
         0.10593382,  0.99541506],
       [ 0.08739679,  0.78486269,  0.28786152, ...,  0.61987543,
         0.56618894,  0.40003973],
       [ 0.51400171,  0.26428237,  0.92249474, ...,  0.66389902,
         0.28826572,  0.35699077],
       ...,
       [ 0.27303164,  0.84296958,  0.92314139, ...,  0.19987057,
         0.50062501,  0.50567359],
       [ 0.03387863,  0.30056758,  0.39560116, ...,  0.80313173,
         0.05011935,  0.80872293],
       [ 0.86918113,  0.23126522,  0.13078299, ...,  0.10677702,
         0.50932745,  0.1052678 ]])

In [11]:
instances = (
    (1, 1, 1, 1),
    (2, 2, 2, 2),
    (3, 3, 3, 3),
    (2, 1, 1, 1),
    (1, 2, 1, 1),
    (13, 13, 13, 13)
    )

In [13]:
[list(x) for x in instances]

[[1, 1, 1, 1],
 [2, 2, 2, 2],
 [3, 3, 3, 3],
 [2, 1, 1, 1],
 [1, 2, 1, 1],
 [13, 13, 13, 13]]